body,html {
  width: 700px;
  height: 540px;
}

#transcription-container{
    font-size: small;
}

#backgroundimg {
    background-image: url('https://images.ctfassets.net/xj0skx6m69u2/6XtpFUVse6U43tKsCFlqK/716080a1a6e89a61c92968220f91155f/stockfresh_8245621_female-customer-services-agent-in-call-center_sizeS.jpg?fm=jpg&w=648&h=426&fit=fill&f=Right&q=85');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    filter: blur(5px);
  }

  * {
    box-sizing: border-box;
  }

  #container {
    background-color: rgb(194, 194, 194);
    /* Fallback color */
    background-color: rgba(134, 119, 119, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 70%;
    padding: 20px;
    text-align: center;
  }